<div class="container">
    Contact Us
</div>
<div class="the_whole">
    <div class="part_one">
        <div class="name">
            <div>
                <input placeholder="Your Name" type="text" id="name" name="name" required minlength="4" />
            </div>
        </div>
        <div class="email">
            <div>
                <input placeholder="Your E-mail" type="text" id="email" name="email" required minlength="4"  />
            </div>
        </div>
        <div class="message">
            <div><textarea class="textarea" placeholder="Your Message" name="message" id="message" cols="30" rows="10"> </textarea>
            </div>
        </div>
        <div class="send">
        Send
        </div>
    </div>
    <div class="part_two">
        <img src="assets/LogoBridge.png" alt="logo">
    </div>
</div>



