.container{
    background-color: rgb(161, 161, 161);
    border-radius: 10px;
    justify-content: center;
    margin: 0 10vw 0 10vw;
    align-items: center;
    display: flex;
    position: relative;
}

.content{
    padding: 50px 0px 50px 0px;
}

.content div input{
    margin-top: 10px;
}
input{
    border: 0;
    height: 30px;
    border-radius: 10px;
}
.email {
    margin-bottom: 50px;
    color: white;
    font-family: 'Bubblegum Sans';font-size: 22px;
}
.password{
    margin-bottom: 50px;
    color: white;
    font-family: 'Bubblegum Sans';font-size: 22px;
}
.username{
    color: white;
    font-family: 'Bubblegum Sans';font-size: 22px;
    margin-bottom: 50px;

}
.sign_up{
    margin-top: 40px;
    margin-bottom: 100px;
    background-color: pink;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-family: 'Bubblegum Sans';font-size: 22px;
}
.sign_up:hover{
    background-color: white;
    color: pink;
}
.sign_in{
    font-family: 'Bubblegum Sans';font-size: 18px;
    color: pink;
    margin-left: 20px;
    
}
a{
    text-decoration: none;
}
.sign_in_container{
position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign_in:hover{
    color: white;
}
